body, html {
  font-size: 16px;
  font-family: Lato,Outfit,helvetica neue,Helvetica,Arial,sans-serif;
  background-color: #181826;
  color: #c0c0cf;
}

a {
  color:#783ff1;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #a2a2b0;
  box-sizing: content-box;
  width: 100%;
  height: 0;
}

label {
  color:#c0c0cf;
}

pre {
  background-color: unset;
  color: #fff;
  border: 0;
  white-space: pre-wrap;
  font-family: Lato,Outfit,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  padding: 0;
}


.desktop {
  display: table;
}

.mobile {
  display: none;

}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: table;
  
  }
}
/**  custom color  */
.cc-3 {
  color: #4A4A6A;
}

.btn-primary {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  text-align: center;
  background: #783ff1;
  border: 1px solid #783ff1;
  border-radius: 5px;
}

.btn-secondary {
  color: #fff;
  background: #4A4A6A;
}

.btn-danger {
  color: #fff;
  background: #ffa105;
  border-color: #ffa105;
  text-shadow: none;
  font-size: 16px;
}

.btn-primary:focus, .btn-primary:hover {
  background: #ffa105;
  border-color: #ffa105;
}

#cookie-manager-button {
  display: none !important;
}

/** font */

/* nav.navbar:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

button.button1:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

div.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


div.cardHeader {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.cardContainer {
    padding: 10px;
}


.div-hide {
	display: none;
}

.kv-file-zoom {
	display: none;
}

div.kv-avatar div.file-input div.file-preview {
	width: 200px;
}

/*login form*/
.vertical {
	padding-top: 150px;
	padding-bottom: 150px;
}

/**  header */
.logo {
  margin-left: 10px;
}

.logo_img {
  width: 200px;
}

@media (max-width: 768px) {
  .vertical {
    padding-top: 80px;
  }

  .logo {
    margin-top: 10px;
  }

  .logo_img {
    width: 150px;
  }

  .navbar-collapse {
    box-shadow: unset;
    -webkit-box-shadow: unset;
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, 
  .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
  }

  .panel-body  > .w-50 {
    width: auto !important;
  }
}



/**  navbar */

nav .container {
  padding-top: 15px;
  /* padding-bottom: 15px; */
}

.navbar-nav {
  flex-direction: row;
}

.nav > li > a {
  padding-left: 15px;
}

.navbar-nav > li > a {
  font-weight: 700;
  font-size: 15px;
  color: #c0c0cf;
}

.navbar-default .navbar-nav > li > a {
  color:  #777;
}

.nav > li > a:focus, .nav > li  > a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: gainsboro;
}


.navbar-header {
  width: 100%;
}

.navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-nav > li > .dropdown-menu {
  position: absolute;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 25px;
  }

  #navbar-collapse-1 {
    flex: 4;
  }

  .container-fluid > div {
    flex: 1;
  }
}

#navLogin {
  padding-right: 25px;
}

#navLogin a {
  color: #ffa105;
}

.avatar {
  display: inline-block;
  text-align: center;
  color: #ebebeb;
  font-weight: 400;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .avatar {
    display: none;
  }

  #logged-in-menu {
    position: absolute;
    right: 15px;
    top: 4px;
  }
}


.avatar.avatar-md {
  border-radius: inherit;
  width: 32px;
  height: 32px;
  line-height: 27px;
}

.avatar.avatar-rounded {
  border-radius: 50%;
}

#user_label {
  padding-top:  10px;
  padding-left:  10px;
  padding-right: 25px;
}

@media (max-width: 768px) {
  .navbar-nav .open .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #fff;
  }

  #user-header-name {
    /** padding-left:  50px; */
  }
}

/** text rules */


/** Hero */


.main .text-data {
  font-size: 30px;
  padding: 40px;
  height: 100%;
  background: none;
  border-bottom: none;
}

/* .main .terms {
  height: 100%;
  padding: 40px;
  font-size: 18px;
  line-height: 25px;
} */

/** Agent */

.banner-container {
  display: flex;
  flex-direction: column;
}

.banner-container img {
  width: 100%;
}

/** Footer */

footer {
  display: flex;
  margin-top: 100px;
  padding: 40px;
  color: #a2a2b0;
  font-size: 14px;
  background-color: #212134;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column-reverse;
    gap: 50px;
  }
}

footer > div  {
  flex: 1;
}

.footer_container {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

footer .copyright {
  line-height: 20px;
}

/** free-cookie-consent */
.freeprivacypolicy-com---palette-light .cc-nb-okagree,
.freeprivacypolicy-com---palette-light .cc-nb-reject {
  background-color: #777 !important;
}

.Hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  color: #fff;
}

.us-cursor {
  cursor: pointer;
}

#bbs_content img  {
  max-width: 100%;
}

.pagination>li>a, .pagination>li>span {
  color: #17173a;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  background-color: #783ff1;
  border-color: #4A4A6A;
}

.pagination>li>a, .pagination>li>span {
  background-color: #181826;
  color: #c0c0cf;
  border-color: #4A4A6A;
}


.breadcrumb a {
  color: #17173a;
}

.rdate {
  font-size: 14px;
}

.rate {
  font-size: 12px;
}

.table-bordered {
  border-color: #c0c0cf;
}

.table>:not(caption)>*>* {
  background-color: #181826;
  color: #f3f3f3;
}

.table>thead {
  border-color: #4A4A6A;
}

td.text-center.rate {
  color: #4A4A6A;
}

@media (max-width: 768px) {
  .table {
    font-size: 12px;
  }

  .rdate {
    font-size: 10px;
  }

  .rate {
    font-size: 8px;
  }

  .fs-12 {
    font-size: 12px;
  }

  .fs-10 {
    font-size: 10px;
  }
}

/** Dark Mode */
.panel {
  background-color: #181826;
}

.panel-default {
  border-color:#4A4A6A;
}

.panel-default>.panel-heading {
  background: #212134;
  color: #c0c0cf; 
  border-color: #4A4A6A; 
}

.panel-body > div {
  color: #fff;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #4A4A6A;
}



.breadcrumb {
  background-color: #212134;
}

.breadcrumb a {
  color: #c0c0cf;
}

.breadcrumb>.active {
  color: #783ff1;
}

.border {
  border-color: #4A4A6A  !important;
}

.note-editor .note-editing-area .note-editable {
  background-color: #fff;
}

.modal-content {
  background-color: #181826;
}

#id_name, #id_pw {
  display: none;
}

.note-editable {
  color:#000;
}


/** Loading  */
.spinner-border {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

#id_content_editable {
  min-height: 400px;
  overflow: scroll;
}

#id_content_editable pre {
  color: inherit;
  margin-bottom: 0;
  padding: 0;
}

/* input#file-upload-button {
  color: #fff;
  background-color: #783ff1;
} */

.video_size {
  width: 600px;
}

.location.navbar-nav > li > a {
  color: #4A4A6A;
}

.location.navbar-nav > li > a.selected {
  color: #fff;
}

.profile_img {
  width: 100px;
  height: 100px;
  background: linear-gradient(#ffc00d, #ff9037, #c65ac2);
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 30px; 
  overflow: hidden;
}

.profile_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.round {
  width: 21px;
  height: 21px;
  background-color: #783ff1;
  border: 1px solid #783ff1;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  line-height: 20px;
}

@media (max-width: 768px) {
  #id_content_editable {
    min-height: 300px;
  }

  .video_size {
    width: 300px;
  }
}  

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none;
}

.board_profile {
  width: 32px;
  height: 32px;
  background: linear-gradient(#ffc00d, #ff9037, #c65ac2);
  border-radius: 50%;
  text-align: center;
  color: #fff;
}